LOG_LEVEL=debug
PORT=3000
ENVIRONMENT=development
TZ=UTC
BASE_URL=http://localhost:3000

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres
DB_PORT=5432
DB_LOG_LEVEL=info
DB_SLOW_QUERY_THRESHOLD=250ms

EXPIRED_LINK_CLEANUP_INTERVAL=2m

# this is used for applying migration to local dev DB
ATLAS_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?sslmode=disable&timezone=UTC"